* {
  font-family: monospace;
}

body {
  margin: 10px;
  background-image: url("background/neon_reels.jpg");
}

.slot-number {
  font-size: 100px;
  display: block;
}

.center {
  text-align: center;
  margin-top: 3rem;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  overflow: hidden;
}

td {
  padding: 30px;
}

button {
  position: relative;
  height: 60px;
  width: 200px;
  border: none;
  outline: none;
  color: white;
  background: rgb(48, 48, 48);
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}

button:before {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 5px;
  z-index: -1;
  opacity: 0;
  filter: blur(5px);
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  background-size: 400%;
  transition: opacity 0.3s ease-in-out;
  animation: animate 20s linear infinite;
}

button:hover:before {
  opacity: 1;
}

button:hover:active {
  background: none;
}

button:hover:active:before {
  filter: blur(2px);
}
